body{
  text-align: center;
}

#title{
  background-color: #fbd1b7;
  color:#000;
}
.imagecat1{
  width:20%;
  border-radius: 100%;
  margin: 20px;
  float: right;

}
.imagecat2{
  width:20%;
  border-radius: 100%;
  margin: 20px;
  float: left;
}
.heading{
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  padding: 2% 5%;

}
#middle{

  padding: 5% 20%;
}
.cats{
  width:80%;
  border-radius: 100%;
  margin: 20px;
}
.cat2{
  width: 20%;
}
.icons{
  color:#ff4646;
  margin-bottom: 3rem;
}
.icons:hover{
  color:#ff9b93;
}
#bottom{
  background-color: #fee9b2;
  color: #000;

}
.b1{
  margin: 0% 3% 3% 0;
}
#footer{
  padding: 7% 15%;

}
.social-icon{
  margin: 20px 10px
}
@media (max-width:1028px) {
  #title.container-fluid{
    padding: 15% 7%;
  }
  .imagecat1{
    float: none;
  }
  .imagecat2{
    float: none;
  }
  .chat{
    column-width: 150px;
  }
}
